---
layout: page
title: Portfolio
---

<div class="portfolio-container">
    {% for item in site.data.portfolio_contents %}
        <div class="preload-image" style="background-image: url('{{ item.preview }}preview_static.gif');"></div>
        <div class="preload-image" style="background-image: url('{{ item.preview }}preview.gif');"></div>
    {% endfor %}

    {% for item in site.data.portfolio_contents %}
        <div class="portfolio-item">
            <a href="{{ item.link }}">
                <div class="portfolio-image" style="background-image: url('{{ item.preview }}preview_static.gif')" alt="{{ item.alt }}"
                     onmouseenter="this.style.backgroundImage = `url('{{ item.preview }}preview.gif')`"
                     onmouseleave="this.style.backgroundImage = `url('{{ item.preview }}preview_static.gif')`"></div>
                <br />
                <p class="portfolio-title">{{ item.title }}</p>
            </a>
        </div>
    {% endfor %}
</div>
