
<h2>Web App</h2>

<div>
    <canvas id="life" width="700" height="700" onclick="togglePause();"></canvas>
</div>
<div>
    <button id="play-button" onclick="togglePause();">Play</button>
    <button onclick="restart();">Restart</button>
    Wrap x:<input type="checkbox" id="wrap-x" oninput="wrapX = this.checked;">
    Wrap y:<input type="checkbox" id="wrap-y" oninput="wrapY = this.checked;">
    <br/>

    Proximity Repulsion Force (Collision):
    <input type="range"  id="repulsion-slider" min="0" max="1" step="0.01" value="0" oninput="document.getElementById('repulsion').value = this.value; repulsionForce = this.value;">
    <input type="number" id="repulsion"        min="0" max="1" step="0.01" value="0" oninput="document.getElementById('repulsion-slider').value = this.value; repulsionForce = this.value;">
    <br/>

    <button onclick="loadRuleset();">Load Ruleset</button>
    <button onclick="saveRuleset();">Save Ruleset</button>
    <button onclick="shuffle();">Shuffle</button>
    <button onclick="clearRuleset();">Clear</button>
    <br/>

    <div id="atom-types"></div>
    <button onclick="addAtomType()">New Atom Type</button>
</div>

<script>
    Number.prototype.mod = function(b) {
        return ((this % b) + b) % b;
    }

    const rulesets = {};

    const colors = [];

    const atomSize = 3;

    const playButton = document.getElementById("play-button");

    const canvas = document.getElementById("life");
    const m = canvas.getContext("2d");

    const canvasWidth = canvas.width;
    const canvasHeight = canvas.height;

    const atomTypesContainer = document.getElementById("atom-types");

    let isRunning = false;

    let atomIdCounter = 0;
    let repulsionForce = document.getElementById("repulsion").value;

    let wrapX = document.getElementById("wrap-x").checked;
    let wrapY = document.getElementById("wrap-y").checked;

    // Function source: https://stackoverflow.com/questions/36721830/convert-hsl-to-rgb-and-hex
    function hslToHex(h, s, l) {
        l /= 100;
        const a = s * Math.min(l, 1 - l) / 100;
        const f = n => {
            const k = (n + h / 30) % 12;
            const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
            return Math.round(255 * color).toString(16).padStart(2, '0');   // convert to Hex and prefix "0" if needed
        };
        return `#${f(0)}${f(8)}${f(4)}`;
    }

    const drawSquare = (x, y, c, s) => {
        m.fillStyle = c;
        m.fillRect(x, y, s, s);
    };

    const atoms = [];
    const atom = (typeId, x, y) => {
        return {typeId: typeId, x: x, y: y, vx: 0, vy: 0};
    };

    const random = () => {
        return Math.random() * (canvas.height - 100) + 50;
    };

    const createAtomType = (id, color, number, container) => {
        return {id: id, color: color, number: number, container: container, interactions: {}};
    };

    const createAtoms = (atomType) => {
        for (let i = 0; i < atomType.number; i++) {
            atoms.push(atom(atomType.id, random(), random()));
        }
    };

    const applyRules = () => {
        for (let i = 0; i < atoms.length; i++) {
            let fx = 0;
            let fy = 0;
            const a = atoms[i];
            for (let j = 0; j < atoms.length; j++) {
                if (j !== i) {
                    const b = atoms[j];
                    const g = rulesets[a.typeId].interactions[b.typeId].value;
                    if (g !== undefined) {
                        let dx = a.x - b.x;
                        let dy = a.y - b.y;
                        if (wrapX) {
                            let dxAbs = Math.abs(dx);
                            let dxAlt = canvasWidth - dxAbs;
                            if (dxAlt < dxAbs) {
                                dx = dxAlt * (a.x < b.x ? 1 : -1);
                            }
                        }
                        if (wrapY) {
                            let dyAbs = Math.abs(dy);
                            let dyAlt = canvasWidth - dyAbs;
                            if (dyAlt < dyAbs) {
                                dy = dyAlt * (a.y < b.y ? 1 : -1);
                            }
                        }
                        if (dx !== 0 || dy !== 0) {
                            const d2 = dx * dx + dy * dy;
                            if (d2 < 6400) {
                                const d = Math.sqrt(d2);
                                let f = g / d;
                                fx += f * dx;
                                fy += f * dy;
                                if (d < atomSize) {
                                    fx -= repulsionForce * dx;
                                    fy -= repulsionForce * dy;
                                }
                            }
                        }
                    }
                }
            }
            a.vx = (a.vx + fx) * 0.5;
            a.vy = (a.vy + fy) * 0.5;

            a.x += a.vx;
            a.y += a.vy;

            if (wrapX) {
                a.x = a.x.mod(canvasWidth);
            } else {
                if (a.x < 0) {
                    a.vx *= -1;
                    a.x = 0;
                }
                if (a.x > canvasWidth) {
                    a.vx *= -1;
                    a.x = canvasWidth;
                }
            }
            if (wrapY) {
                a.y = a.y.mod(canvasHeight);
            } else {
                if (a.y < 0) {
                    a.vy *= -1;
                    a.y = 0;
                }
                if (a.y > canvasHeight) {
                    a.vy *= -1;
                    a.y = canvasHeight;
                }
            }
        }
    };

    const togglePause = () => {
        isRunning = !isRunning;
        if (isRunning) {
            playButton.innerText = "Pause";
            requestAnimationFrame(update);
        } else {
            playButton.innerText = "Play";
        }
    };

    const restart = () => {
        console.log("Restarting...");
        atoms.splice(0, atoms.length);

        const rulesetIds = Object.keys(rulesets);
        for (let i = 0; i < rulesetIds.length; i++) {
            const rs = rulesets[rulesetIds[i]];
            console.log(`Creating ${rs.number} ${rs.color} atoms`);
            createAtoms(rs);
        }
    };

    const update = () => {
        applyRules();
        draw();

        if (isRunning)
            requestAnimationFrame(update);
    };

    const draw = () => {
        m.clearRect(0, 0, canvas.width, canvas.height);
        drawSquare(0, 0, "black", canvas.width);
        for (i = 0; i < atoms.length; i++) {
            drawSquare(atoms[i].x, atoms[i].y, rulesets[atoms[i].typeId].color, atomSize)
        }
    }

    const addAtomType = (id = null, c = null, n = null) => {
        let atomId;
        if (id === null) {
            atomId = atomIdCounter++;
        } else {
            atomId = id;
        }
        let color;
        if (c === null) {
            color = hslToHex(random() * 360, 80, 80);
        } else {
            color = c;
        }
        let number;
        if (n === null) {
            number = 500;
        } else {
            number = n;
        }

        let atomContainer = document.createElement("div");
        atomTypesContainer.appendChild(atomContainer);
        atomContainer.style.background = color;
        atomContainer.innerHTML = `
            <h5>Atom ${atomId}</h5>
            Color
            <input type="text" id="atom-${atomId}-color" value="${color}" oninput="setAtomTypeParameters(${atomId}, {color: this.value, overrideHTML: false});">
            Count
            <input type="number" id="atom-${atomId}-count" value="${number}" oninput="setAtomTypeParameters(${atomId}, {number: this.value, overrideHTML: false});">
            <button onclick="removeAtomType(${atomId});">Remove</button>
            <div class="interactions">
            </div>`;

        rulesets[atomId] = createAtomType(atomId, color, number, atomContainer);

        updateInteractions();
        return rulesets[atomId];
    };

    const removeAtomType = (atomId) => {
        atomTypesContainer.removeChild(rulesets[atomId].container)
        delete rulesets[atomId];
        updateInteractions();
        restart();
    };

    const updateInteractions = () => {
        let atomIds = Object.keys(rulesets);

        for (let i = 0; i < atomIds.length; i++) {
            let aId = atomIds[i];
            let at = rulesets[aId];
            let interactionIds = Object.keys(at.interactions);
            // Remove un-needed interactions
            for (let j = interactionIds.length - 1; j >= 0; j--) {
                let iId = interactionIds[j];
                if (atomIds.indexOf(iId) === -1) {
                    at.container.removeChild(at.interactions[iId].container);
                    delete at.interactions[iId];
                }
            }
            // Add non-present interactions
            for (let j = 0; j < atomIds.length; j++) {
                let bId = atomIds[j];
                if (interactionIds.indexOf(bId) === -1) {
                    const interactionContainer = document.createElement("div");
                    at.container.appendChild(interactionContainer);
                    at.interactions[bId] = {container: interactionContainer, value: 0};
                    interactionContainer.innerHTML += `
                    Atom ${bId}:
                    <input type="range" id="slider-${aId}-${bId}" min="-1" max="1" step="0.01" value="0" oninput="document.getElementById('number-${aId}-${bId}').value = this.value; rulesets[${aId}].interactions[${bId}].value = this.value;">
                    <input type="number" id="number-${aId}-${bId}" min="-1" max="1" step="0.01" value="0" oninput="document.getElementById('slider-${aId}-${bId}').value = this.value; rulesets[${aId}].interactions[${bId}].value = this.value;">`;
                }
            }
        }
    };

    const setAtomTypeParameters = (atomTypeId, {color = null, number = null, overrideHTML = true}) => {
        const at = rulesets[atomTypeId];
        if (color !== null) {
            at.color = color;
            const container = document.getElementById(`atom-${atomTypeId}-color`);
            container.parentElement.style.background = color;
            if (overrideHTML) {
                container.value = color;
            }
        }
        if (number !== null) {
            at.number = number;
            if (overrideHTML) {
                document.getElementById(`atom-${atomTypeId}-count`).value = number;
            }
        }
    };

    const setAtomInteractions = (atomTypeId, interactions) => {
        const at = rulesets[atomTypeId];
        const interactionIds = Object.keys(interactions);
        for (let i = 0; i < interactionIds.length; i++) {
            const iId = interactionIds[i];
            at.interactions[iId].value = interactions[iId];
            document.getElementById(`slider-${atomTypeId}-${iId}`).value = interactions[iId];
            document.getElementById(`number-${atomTypeId}-${iId}`).value = interactions[iId];
        }
    };

    const shuffle = () => {
        let atomTypeIds = Object.keys(rulesets);
        for (let i = 0; i < atomTypeIds.length; i++) {
            let at = rulesets[atomTypeIds[i]];
            
            let interactionObj = {};
            let interactionIds = Object.keys(at.interactions);
            for (let j = 0; j < interactionIds.length; j++) {
                interactionObj[interactionIds[j]] = Math.random() * 2 - 1;
            }
            setAtomInteractions(at.id, interactionObj);
        }
        restart();
    };

    const clearRuleset = () => {
        let atomTypeIds = Object.keys(rulesets);
        for (let i = 0; i < atomTypeIds.length; i++) {
            removeAtomType(atomTypeIds[i]);
        }

        atomIdCounter = 0;
        restart();
    };

    const saveRuleset = () => {
        let dataString = "";

        let atomTypeIds = Object.keys(rulesets);
        for (let i = 0; i < atomTypeIds.length; i++) {
            let at = rulesets[atomTypeIds[i]];
            dataString += `addAtomType(${at.id}, "${at.color}", ${at.number});\n`;
        }
        for (let i = 0; i < atomTypeIds.length; i++) {
            let at = rulesets[atomTypeIds[i]];
            dataString += `setAtomInteractions(${at.id}, {`;
            
            let interactionIds = Object.keys(at.interactions);
            for (let j = 0; j < interactionIds.length; j++) {
                let interaction = at.interactions[interactionIds[j]];
                dataString += `${interactionIds[j]}: ${interaction.value}, `;
            }
            dataString += `});\n`;
        }

        const pom = document.createElement("a");
        const file = new Blob([dataString], {type: "text/plain"});

        pom.href = URL.createObjectURL(file);
        pom.download = "ruleset.js";
        pom.click();
        URL.revokeObjectURL(pom.href);
    };

    const loadRuleset = () => {
        clearRuleset();
        const input = document.createElement("input");
        input.type = "file";
        input.onchange = _this => {
            let file = Array.from(input.files)[0];
            if (file.name.endsWith(".js")) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    let contents = e.target.result;
                    eval(contents);
                    restart();
                };
                reader.readAsText(file);
            } else {
                console.error(`Invalid file: expected '*.js', got '${file.name}'`)
            }
        };
        input.click();
    };

    addAtomType();
    addAtomType();
    addAtomType();
    addAtomType();
    setAtomTypeParameters(0, {color: "red"});
    setAtomTypeParameters(1, {color: "green"});
    setAtomTypeParameters(2, {color: "blue"});
    setAtomTypeParameters(3, {color: "yellow"});
    setAtomInteractions(0, {0:  0.8761564046567396 , 1: -0.8131279812066854, 2: -0.42403398294928163, 3: -0.686246916739194 });
    setAtomInteractions(1, {0:  0.383942932294564  , 1:  0.878214014158254 , 2:  0.4357079645785089 , 3:  0.3632328353781209});
    setAtomInteractions(2, {0: -0.48726835984229977, 1: -0.6276679142294777, 2:  0.49503848830455155, 3: -0.8155039608681607});
    setAtomInteractions(3, {0: -0.8050409003234531 , 1:  0.8283611643992606, 2: -0.6206303204367405 , 3:  0.8422661062679588});

    restart();
    draw();
</script>
